<h1>App Component</h1>

<div>
  <ul *ngIf="!is_dashboard_route">
    <li>
      <a routerLink="/home">Home</a>
    </li>
    <li>
<!--      here we use routerLink in <a> instead of href to enable the routing-->
<!--      in html we use the href which is use for browser based navigation -->
<!--      and in here if we use the href instead of routerLink it'll navigate to the route
          but it'll reload the entire app.-->
<!--      routerLink will not reload the entire app and makes our app dynamic and fast-->

      <a routerLink="/about">About</a>
    </li>

    <li>
      <button (click)="goToDashboard()">Dashboard</button>
    </li>

    <li>
      <a routerLink="/query-fragment">Query Fragment</a>
    </li>
    </ul>

  <label > UserName:</label>
  <input type="text" placeholder="enter username" [(ngModel)]="userName">
  <label > Gender:</label>
  <input type="text" placeholder="enter gender" [(ngModel)]="gender">
  <button (click)="navigateToGreet()">Navigate!</button>
</div>


<router-outlet></router-outlet>
<!--In Angular, <router-outlet></router-outlet> is a directive that acts as a
placeholder where Angular dynamically loads components based on the current route.
 It is part of Angular's-->
